// Container form
.form-wrapper {
  .form-heading-icon {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 23px solid var(--e-global-color-efde536);
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      transform: translate(-50%, -4px);
      z-index: 2;
    }
  }
  // Form
  #get_demo_form {
    display: flex;
    flex-direction: column-reverse;
    .e-form__buttons__wrapper__button-next {
      display: none;
    }
    .e-form__buttons__wrapper__button-previous {
      position: absolute;
      bottom: -40px;
      left: 0px;
      transform: translateY(100%);
      background: transparent;
      color: var(--e-form-steps-indicator-active-primary-color);
      &::before {
        margin-right: 10px;
        // position: relative;
        content: "\e941";
        font-family: jkiticon !important;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }
    }
    .elementor-field-type-previous {
      padding: 0 !important;
    }
    //Step
    .e-form__indicators__indicator__separator {
      display: none !important;
    }

    .e-form__indicators.e-form__indicators--type-number {
      margin-top: 60px;
      justify-content: flex-end;
      padding-right: 38px;
      .e-form__indicators__indicator {
        display: none;
        flex-basis: auto !important;
        padding: 0 !important;
        &.e-form__indicators__indicator--state-active,
        &:last-child {
          display: flex;
        }
        .e-form__indicators__indicator__number {
          margin: 0px !important ;
          padding: 0 !important;
        }
        &.e-form__indicators__indicator--state-active {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          padding: 0 !important;

          &::before {
            content: "Step";
          }
        }
        &.e-form__indicators__indicator--state-inactive {
          position: relative;
          // display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          padding: 0 !important;
          &::before {
            content: "of";
          }
        }
      }
    }
    // Step 1
    .elementor-field-group-industry,
    .elementor-field-group-increase_sales {
      display: flex;
      justify-content: center;
      label {
        font-size: 18px;
      }
      .elementor-field-subgroup {
        display: flex;
        flex-direction: column;
        .elementor-field-option {
          input {
            display: none;
          }
          label {
            text-align: center;
            margin-top: 20px;
            display: block;
            cursor: pointer;
            font-family: var(--e-global-typography-accent-font-family),
              Sans-serif;
            font-size: var(--e-global-typography-accent-font-size);
            font-weight: var(--e-global-typography-accent-font-weight);
            color: #ffffff;
            background-color: var(--e-global-color-accent);
            border-radius: 8px 8px 8px 8px;
            padding: 16px 38px 16px 38px;
          }
        }
      }
    }
    //Submit button 
    // .e-form__buttons.elementor-column{

    // }
  }
}
